body  {
  margin: 0;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

#body {
  background-color: #DEDFE3;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#eventbutton {

font-size: 2rem;

}
 


.event-box {
  text-align: center;
  margin-top: 50px;
  margin-left: 10px;
  width: 300px;
  background-color: orange;
  
  
}
.eventgr {
  text-align: center;
  margin-right: 10%;
  
}
.box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 15%;
  width: auto;
  margin-bottom: 100px;
  
  
  
}
.overl{
  text-align: center;
  margin-top: 2px;
}

.addEv{
  margin-top: 1%;
  margin-left: auto;
  margin-bottom: 5%;
}
#addEventButton {
  background-color: orange;
}

.closeBtn{
  margin-left: 22em;
  
}
.login {
  margin-bottom: 5% ;
}
.image {
  text-align: center;
  margin-top: 10px;
}





